/* Gabriela Borges
Data: 05/12/2018
A especificação dos elementos de css estão sendo feitas utilizando o padrão disponível em: http://codeguide.co/
Os blocos seguem o seguinte padrão:
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* Objetos do TabContent */
  .margin{
    /* Positioning */
    margin-top: 20px;
    margin-left: 0;

    /* Box-model */
    width: 100%;
    min-height: 50px;;

    /* Visual */
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(228, 228, 228, 0.5), 0 3px 5px 0 rgba(228, 228, 228, 1);
  }

  .main{
    /* Positioning */
    margin-top: 20px;

    /* Box-model */
    min-height: 750px;
    width: 100%;
  }

 .bar-chart {
    /* Positioning */
    display:block;
    margin:auto;
    margin-bottom: 20px;

    /* Visual */
    background-color: white;
 }

 #br-states2{
   /* Positioning */
   display:block;
   margin:auto;
   margin-bottom: 20px;
 }

.state{
   /* Visual */
   fill:#c04316;
   stroke: black;
   stroke-width:1px;
 }

.state:hover{
  fill:#f4be01;
}
