/* Gabriela Borges
Data: 05/12/2018
A especificação dos elementos de css estão sendo feitas utilizando o padrão disponível em: http://codeguide.co/
Os blocos seguem o seguinte padrão:
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* Objetos do TabContent */
  .margin{
    /* Positioning */
    margin-top: 20px;
    margin-left: 0;

    /* Box-model */
    width: 100%;
    min-height: 50px;;

    /* Visual */
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(228, 228, 228, 0.5), 0 3px 5px 0 rgba(228, 228, 228, 1);
  }

  .main{
    /* Positioning */
    margin-top: 20px;

    /* Box-model */
    min-height: 750px;
    width: 100%;
  }

 .bar-chart {
    /* Positioning */
    display:block;
    margin:auto;
    margin-bottom: 20px;

    /* Visual */
    background-color: white;
 }

 .axis path,
 .axis line {
    /* Visual */
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .y.axis path {
    /* Positioning */
    display: none;
  }

  .d3-tip {
    /* Positioning */
    padding: 12px;
    line-height: 1;

     /* Visual */
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    /* Positioning */
    line-height: 1;
    display: inline;
    position: absolute;

    /* Box-model */
    width: 100%;
    box-sizing: border-box;

    /* Typography */
    font-size: 10px;
    text-align: center;

    /* Visual */
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    /* Positioning */
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
